<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="agentName" value="***"/>
    <add key="password" value="***"/>
    <add key="domainCode" value="DEF"/>
    <add key="defaultDepartureStation" value="AMS"/>
    <add key="defaultArrivalStation" value="BCN"/>
    <add key="defaultcarrierCode" value="HV"/>
    <add key="defaultCurrencyCode" value="EUR"/>
    <add key="defaultFareType" value="R"/>
    <add key="contractVersion" value="410"/>
    <add key="messageContractVersion" value="4.1.0"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISessionManager">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IBookingManager" maxReceivedMessageSize="524288">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IOperationManager" maxBufferPoolSize="2097152"
          maxReceivedMessageSize="2097152">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IContentManager">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IVoucherManager">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IScheduleManager" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPersonManager">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IAccountManager" />
        <binding name="BasicHttpBinding_IQueueManager">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://hvtest2r3xapi.navitaire.com/ScheduleManager.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScheduleManager"
        contract="API_ScheduleService.IScheduleManager" name="BasicHttpBinding_IScheduleManager" />
      <endpoint address="https://hvprodr4xapi.navitaire.com/SessionManager.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManager"
        contract="API_SessionService.ISessionManager" name="BasicHttpBinding_ISessionManager" />
      <endpoint address="https://hvprodr4xapi.navitaire.com/BookingManager.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingManager"
        contract="API_BookingService.IBookingManager" name="BasicHttpBinding_IBookingManager" />
      <endpoint address="https://hvprodr4xapi.navitaire.com/ContentManager.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentManager"
        contract="API_ContentService.IContentManager" name="BasicHttpBinding_IContentManager" />
      <endpoint address="https://hvprodr4xapi.navitaire.com/OperationManager.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperationManager"
        contract="API_OperationService.IOperationManager" name="BasicHttpBinding_IOperationManager" />
      <endpoint address="https://hvprodr4xapi.navitaire.com/VoucherManager.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVoucherManager"
        contract="API_VoucherService.IVoucherManager" name="BasicHttpBinding_IVoucherManager" />
      <endpoint address="https://hvprodr4xapi.navitaire.com/PersonManager.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonManager"
        contract="API_PersonService.IPersonManager" name="BasicHttpBinding_IPersonManager" />
      <endpoint address="https://hvprodr4xapi.navitaire.com/AccountManager.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountManager"
        contract="API_AccountService.IAccountManager" name="BasicHttpBinding_IAccountManager" />
      <endpoint address="https://hvprodr4xapi.navitaire.com/QueueManager.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueManager"
        contract="API_QueueService.IQueueManager" name="BasicHttpBinding_IQueueManager" />
    </client>
    <diagnostics>
      <messageLogging maxMessagesToLog="3000" maxSizeOfMessageToLog="5242880" logEntireMessage="true" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true">
      </messageLogging>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
